extends layouts/main

block content
    .form__container
        form(action="/login", method="post")
            input(type="text", name="name", placeholer="Full Name")
            input(type="email", name="email", placeholer="Emai")
            input(type="password", name="password", placeholer="Password")
            input(type="password", name="password2", placeholer="Verify Password")
            input(type="submit", value="Join Now")
        include partials/socialLogin
