extends layouts/main

block content
    .form__container
        form(action="/login", method="post")
            input(type="email", name="email", placeholer="Emai")
            input(type="password", name="password", placeholer="Password")
            input(type="submit", value="Log in")
        include partials/socialLogin